NODE_ENV="development"

APP_PORT=8080
APP_FORWARD_PORT=8080
APP_NAME="salon-management"

# database
DB_HOST="salon-management-database"
DB_PORT=5432
DB_FORWARD_PORT=5432
DB_USER="postgres"
DB_PASSWORD="admin@zm"
DB_DATABASE="salon_management_db"

# pgadmin credentials
PGADMIN_FORWARD_PORT=8888
PGADMIN_DEFAULT_EMAIL=user@zenmonk.tech
PGADMIN_DEFAULT_PASSWORD=zenmonk

#MAIL service
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=keshav.1147@zenmonk.tech
MAIL_PASS=password
MAIL_SERVICE=gmail

# OTP
OTP_TTL_MINUTES=5
OTP_LENGTH=6
OTP_RESEND_MAX_PER_HOUR=3

#token
JWT_SECRET= 'jwt-key'

FRONTEND_URL=http://localhost:3000

# array of urls ", " separated
CLIENT_URL="http://localhost:3000, http://localhost:3001"
MANAGEMENT_APP_URL="http://localhost:3000"

#cloudinary
CLOUDINARY_CLOUD_NAME= "****************"
CLOUDINARY_API_KEY= "****************"
CLOUDINARY_API_SECRET= "****************"
CLOUDINARY_FOLDER= "salon-management-service"

#firebase
FIREBASE_CREDENTIALS={"type":"service_account","project_id":"my-project-id","private_key_id":"abc123","private_key":"-----BEGIN PRIVATE KEY-----\nMIIEv...\n-----END PRIVATE KEY-----\n","client_email":"firebase-adminsdk-xyz@my-project-id.iam.gserviceaccount.com","client_id":"1234567890","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xyz%40my-project-id.iam.gserviceaccount.com"}

#Payment
STRIPE_SECRET_KEY="****************"
STRIPE_PUBLISHABLE_KEY="****************"
STRIPE_WEBHOOK_SECRET="****************"