NODE_ENV="development"

APP_PORT=8080
APP_FORWARD_PORT=8080
APP_NAME="salon-management"

# database
DB_HOST="salon-management-database"
DB_PORT=5432
DB_FORWARD_PORT=5432
DB_USER="postgres"
DB_PASSWORD="admin@zm"
DB_DATABASE="salon_management_db"

# pgadmin credentials
PGADMIN_FORWARD_PORT=8888
PGADMIN_DEFAULT_EMAIL=user@zenmonk.tech
PGADMIN_DEFAULT_PASSWORD=zenmonk

#MAIL service
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=keshav.1147@zenmonk.tech
MAIL_PASS=password
MAIL_SERVICE=gmail

# OTP
OTP_TTL_MINUTES=5
OTP_LENGTH=6
OTP_RESEND_MAX_PER_HOUR=3

#token
JWT_SECRET= 'jwt-key'

FRONTEND_URL=http://localhost:3000